@model IEnumerable<MoneyTree.Models.MoneyTree_Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Household.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
       <th>
           @Html.DisplayNameFor(model => model.Reconciled)
        </th>
        <th>
            Statement Balance
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Household.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td> 
            @Html.DisplayFor(modelItem=>item.Reconciled)
        </td>
        <td>@using (Html.BeginForm("Reconcile", "Accounts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="accountId" value="@item.Id" />
            <input type="number" name="userBalance" placeholder="Enter Statement Balance"/><input type="submit" value="Reconcile" />
        }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })

        </td>
    </tr>
}

</table>
